[submodule "libs/UberGuidoZ_Flipper"]
	path = libs/UberGuidoZ_Flipper
	url = https://github.com/UberGuidoZ/Flipper.git
[submodule "libs/UberGuidoZ_Flipper-IRDB"]
	path = libs/UberGuidoZ_Flipper-IRDB
	url = https://github.com/UberGuidoZ/Flipper-IRDB.git
[submodule "fw/FlipperSetup"]
	path = fw/FlipperSetup
	url = https://github.com/FlipperSetup/FlipperSetup.git
